<header class='header'>
  <div class='top-btn'>
    <%= link_to 'SplaTech', root_path %>
    </div>
  <div class='user-btn'>
    <% if user_signed_in? %>
      <div class='user-name'>
        ログイン中のユーザー：<%= current_user.name %>
      </div>
      <div class='btn'>
        <%= link_to 'マイページ', "#" %>
      </div>
      <div class='btn'>
        <%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete} %>
      </div>
    <% else %>
      <div class='btn'>
        <%= link_to 'ログイン', new_user_session_path %>
      </div>
      <div class='btn'>
        <%= link_to '新規登録', new_user_registration_path %>
      </div>
    <% end %>
  </div>
</header>