<%= render "shared/header" %>

<div class='main'>

  <div class='high'>
    <%= link_to profiles_path, class: "function-btn" do %>
      プロフ画像
      <br>
      メーカー
    <% end %>
    <%= link_to "#", class: "function-btn" do %>
      フレンド
      <br>
      掲示板
      <br>
      （未実装）
    <% end %>
  </div>

  <div class='low'>
    <%= link_to "#", class: "function-btn" do %>
      持ちブキ診断
      <br>
      （未実装）
    <% end %>
    <%= link_to "#", class: "function-btn" do %>
      戦績管理
      <br>
      （未実装）
    <% end %>
  </div>

</div>